<footer class="footer">
    <small>
        <li>C</li>
    </small>
    <nav>
        <ul>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/home">Twitter</a></li>
            <li><a href="https://www.linkedin.com/feed/">LinkedIn</a></li>
        </ul>
    </nav>
</footer>